{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Movie Header -->
    <section class="max-w-6xl mx-auto px-4 py-10 grid grid-cols-1 md:grid-cols-3 gap-8">

        <!-- Poster -->
        <div class="w-full">
            <img src="{{ movie.image.url }}" class="w-full rounded-lg shadow-lg object-cover">
        </div>

        <!-- Details -->
        <div class="md:col-span-2 space-y-4">
            <h1 class="text-3xl md:text-4xl font-bold text-white">{{ movie.title }}</h1>

            <div class="flex flex-wrap items-center gap-4 text-sm text-gray-400">
                <span>⭐ {{movie.rating}}/10 IMDb</span>
                {% for g in movie.genre.all %}
                    <span>• {{ g.name }}</span>
                {% endfor %}
                <span>• {{movie.length}}</span>
            </div>

            <p class="text-sm text-white leading-relaxed">
                {{movie.summary}}
            </p>

            <!-- Download Buttons -->
            <div class="grid grid-cols-2 md:grid-cols-3 gap-3 mt-4">
                <a href="#" class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-2 rounded-lg text-center">Download Fast</a>
                {% if movie.stream %}
                    <a href="{{movie.stream}}" class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-2 rounded-lg text-center">Stream</a>
                {% endif %}
                    <a href="{{movie.download}}" class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-2 rounded-lg text-center">Download</a>
                
                {% for movie in episode %}
                    <a href="{{movie.link}}" class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-2 rounded-lg text-center">{{movie.episode}}</a>
                {% endfor %}
            </div>

            <!-- Trailer Button -->
            < a href="{{movie.trailer}}">
             <button class="mt-3 bg-slate-900 border text-white border-gray-600 hover:border-yellow-500 hover:text-yellow-500 transition px-4 py-2 rounded-lg">
                ▶ Watch Trailer
             </button>
            </a>    
        </div>

    </section>

    <!-- Similar Movies -->
    <section class="max-w-6xl mx-auto px-4 py-10">
        <h2 class="text-xl font-semibold mb-4 text-white">Similar Movies</h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 gap-4">
            {% for r in related %}
                <div class="relative group aspect-[2/3] cursor-pointer">
                    <a href="{% url 'movie_detail' r.id %}">
                    <img src="{{r.image.url}}"
                    class="w-full h-full object-cover rounded-lg group-hover:brightness-75 transition">

                    <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                        <i class="fa-solid fa-play text-white text-2xl bg-black/60 p-3 rounded-full"></i>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

</div>


{% endblock %}

